table {

}

table, td, th {
    border: 1px solid;
    text-align: center;
}

.table td {
    padding: 20px;
    max-width: 50px;
    max-height: 50px;
}

label {
    position: absolute;
    left: -30px;
    top: 5px;
    bottom: 0;
    margin: auto;
}

input[type="text"],
input[type="submit"] {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    padding: 12px 20px;
}

input[type="submit"] {
    cursor: pointer;
}

.form-group {
    position: relative;
    display: block;
    margin: 0 30px 20px;
    font-weight: 600;
    font-size: 26px;
    font-family: sans-serif;
}

.white {
    background-color: #fff;
}

.black {
    background-color: #000;
}